body {
    font-family: 'Roboto', sans-serif;

}

.root {

    --off-white: #f3f4f6;
    --dark-gray: #6b7280;
}

.topnav {
    background-color: black;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}


/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav-left a {
    /* background-color: #FF6123; */
    color: white;
}

.projects {
    background-color: #FF6123;
}

.topnav-left {
    float: right;

}
p{
    font-weight: lighter;
    font-size: medium;
}
h2{
    font-weight: 900;
    padding-bottom: 10px;
}


.hero {
    text-align: center;
    align-self: center;
    color: black;
    width: 30%;
    margin-top: 10%;
    margin-left: auto; 
    margin-right: auto;
    font: size 20px;
    padding-bottom: 5rem;
}

.hero h1
{
    text-align: center;
    font-size: 50px;
}

.inverted {
    color: #FF6123;
    font-weight: 300;
}
.blogstext{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 1em;
    margin-inline-end: 1em;
}